* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: black;
  background-image: url();

  font-size: 2.5vw;
}

body {
  overflow-x: hidden;

  background-image: url("../images/background.jpg");
  background-size: cover;
}

.round {
  width: 45%;

  text-align: center;
}

.img-back  {
  overflow: hidden;

-webkit-animation: spin 3s linear 0s infinite reverse;
 -moz-animation: spin 3s linear 0s infinite reverse;
 -ms-animation: spin 3s linear 0s infinite reverse;
 -o-animation: spin 3s linear 0s infinite reverse;
 animation: spin 3s linear 0s infinite reverse;
 -webkit-animation-play-state: paused;
 -moz-animation-play-state: paused;
 -ms-animation-play-state: paused;
 -o-animation-play-state: paused;
 animation-play-state: paused;
}

.img-back img {
  position: relative;
  z-index: 1;

  display: block;

  max-width: 100%;
  height: auto;
  margin-top: 6vw;
  margin-left: 28vw;

  -webkit-animation: spin 15s linear 0s infinite normal;
  -moz-animation: spin 15s linear 0s infinite normal;
  -ms-animation: spin 15s linear 0s infinite normal;
  -o-animation: spin 15s linear 0s infinite normal;
  animation: spin 15s linear 0s infinite normal;
}

@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(360deg); }
  100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(360deg); }
  100% { -o-transform: rotate(0deg); }
}

.abe {
  position: relative;
  z-index: 2;
  top: -45vw;
  left: 15vw;

  width: 40%;

  text-align: center;
}

canvas {
	position: absolute;
  z-index: 5;
  top: 55vw;

	width: 100%;
	height: 100%;

	cursor: pointer;
}

h1 {
  margin-top: -35vw;
  margin-bottom: 20vw;

  text-align: center;
  text-transform: uppercase;

  color: transparent;

  font-family: 'Rubik-Bold';
  font-size: 4rem;

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

h1:hover {
  color: white;
}

a, a:hover {
  text-decoration: none;
}
